<a href="https://colab.research.google.com/github/Albieri151/Ejercicios-Data-Science-Petroleo/blob/main/Alana_Albieri_week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Artificial Intelligence in Energy Engineering
### Albieri M. Alaña R., Estudiante Ing Informatica URBE
### 2026
***
## Week 1 Workbook
***

##**1.	Define and describe the following:**

###**a.	Data resolution**

El concepto de Data Resolution o Resolucion de datos es un tema fundamental en la ciencia de datos, se centra en el nivel de detalle para evaluar y estudiar un fenomeno x, la misma tiene centro en dar detalles de los fenomenos estudiados, podriamos dividirle a su vez en alta o baja, a mayor resolution tenemos un mayor desglose en las variables estudiadas de un fenomeno mientras que a su vez a menor, es mas general y menos informativa. Imagina que tomamos en torno a un espacio n, muestras cada 15 metros mientras en otro entorno tomamos muestras cada metro, la primera presenta una baja resolucion en comparacion al otro ejemplo.

###**b.	Why is a good workflow documentation essential**

Este mas que un tema tecnico es conocimiento general indispensable al momento de desarrollar cualquier tipo de proyecto. El mismo hace referencia a la necesidad de documentar procesos mostrando el paso a paso del desarrollo de cada proyecto, mostrar el porque de cada paso, descripciones de variables o punto tomados en cuenta. Es fundamental para poder darle continuidad a cualquier proyecto, imagina el caso que desarrollas e implementas una arquitectura medallion para procesar datos que alimentaran nuestros modelos, el ingeniero a cargo por mala practica realizo el desarrollo y a medio desarrollo cambio de trabajo porque le ofrecieron un mejor cargo y sueldo que el de su actual empresa, el mismo acepta y deja el proyecto en desarrollo sin documentacion, la empresa a cargo asigna un nuevo ingeniero ya que necesita ese proyecto en produccion pero el nuevo ingeniero al tomar el proyecto se atrasa un mes para poder comprender el porque se diseño de esa forma, porque escogio una herramienta sobre otra, que bondades trae cada tecnologia escogida, porque se implemento n logica y cantidad de retrasos adicionales que esto conlleva. Todos estos problemas se pudieron ahorrar al dejar un workflow que permitiera la reproducibilidad del proyecto ademas de la explicacion del porque de todo.

###**c.	Hard data vs. Soft data**

Al hablar de Hard Data hace referencia a informacion directa, tuvimos un incremento de un 20% de robos en Maracaibo, en una finca tenemos alta rotacion de personal con un 30% trimestralmente. Es informacion directa sin embargo poco informativa. La Soft Data muchas veces pensada como informacion blanda o poco relevante ( extremadamente equivocado) hace referencia a metricas que explican el porque de los insight mostrados como Hard Data.

###**d.	Modeling for discomfort**

Este concepto lleva la contraria al modelado tradicional, un ejemplo de lo tradicional podria ser que tomamos un modelo que nos dice cuando fallara un pozo, te sientes comodo con esta seguridad brindada, en contraparte este modelo nos brinda insight del estilo esto fallara, tenemos actualmente un 80% de incertidumbre partiendo de que tenemos pocos datos. La idea central es exponer los peores escenarios para despues poder atacarles.

###**e. Frequentist probability vs. Bayesian probability**

La probabilidad frecuentista podriamos decir que es la mas famosa, se basa en la frecuencia como la media calculando el cociente entre casos positivos entre el total. Es mas directa sin embargo carece de la habilidad adaptativa a la realidad en tiempo real en cambio su contraparte si es capaz de adaptarse a su entorno calculando la probabilidad priorio para despues obtener la probabilidad a posteriori.

##**2. Well Log Analysis**

###**2.1 Carga de datos: Cargaremos un registro de pozo desde un repositorio publico a fin de garantizar la disponibilidad de los datos para ejercicios. Instalamos el paquete lasio, leeremos el archivo para convertirlo en un dataframe de pandas y eliminando los valores nulos (NaN).**

In [57]:
!pip install lasio

Requirement already satisfied: lasio in /usr/local/lib/python3.12/dist-packages (0.32)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from lasio) (2.0.2)

In [58]:
import lasio as ls

well_log = ls.read("https://raw.githubusercontent.com/Albieri151/Ejercicios-Data-Science-Petroleo/main/KG1.LAS").df()
df_well_log = well_log.dropna()
type(df_well_log)

pandas.core.frame.DataFrame

###**2.2 Estadísticas descriptivas: Encontraremos la media, el mínimo, el máximo, el conteo de valores nulos y otras estadísticas relevantes para cada propiedad del registro.**

In [59]:
df_well_log.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19871 entries, 2626.5 to 12582.0
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   SP       19871 non-null  float64
 1   GR       19871 non-null  float64
 2   CALI     19871 non-null  float64
 3   BITSIZE  19871 non-null  float64
 4   LL8      19871 non-null  float64
 5   ILM      19871 non-null  float64
 6   ILD      19871 non-null  float64
 7   RHOB     19871 non-null  float64
 8   NPHI     19871 non-null  float64
 9   DT       19871 non-null  float64
 10  MUDWGT   19871 non-null  float64
dtypes: float64(11)
memory usage: 1.8 MB

In [60]:
df_well_log.describe().T

,count,mean,std,min,25%,50%,75%,max
SP,19871.0,-7.228040,11.394111,-59.46976,-6.695355,-2.75949,-1.153555,6.67082
GR,19871.0,59.965736,20.159385,9.02010,53.416550,63.73470,71.269200,200.06860
CALI,19871.0,13.987712,2.344219,6.09080,12.595550,14.18640,15.685350,17.83940
BITSIZE,19871.0,10.784045,1.829884,8.50000,8.500000,12.25000,12.250000,12.25000
LL8,19871.0,126.950596,353.376916,2.60470,7.837750,9.62000,21.781150,2204.85229
ILM,19871.0,197.162363,532.839099,1.66660,6.268950,8.09720,17.510700,2168.12036
ILD,19871.0,185.148274,509.976871,1.89760,6.416900,8.28610,19.252450,2309.16040
RHOB,19871.0,2.419445,0.213644,1.44310,2.324500,2.46110,2.549100,3.01570
NPHI,19871.0,26.055947,15.211199,-3.60250,13.265000,31.18400,36.533300,62.69810
DT,19871.0,84.601498,12.349984,57.93940,76.795400,85.83970,93.134650,127.73290
MUDWGT,19871.0,10.549997,0.805724,9.10000,9.600000,10.60000,11.200000,12.10000

###**2.3 	Calcule la concentración volumétrica del registro (V_sh or V_clay). Use la formula**
$$
V_{sh} = \frac{GR - GR_{min}}{GR_{max} - GR_{min}}
$$

In [61]:
v_sh = (df_well_log['GR'] - df_well_log['GR'].min()) / (df_well_log['GR'].max() - df_well_log['GR'].min())
df_well_log_copy = df_well_log.copy()
df_well_log_copy['V_sh'] = v_sh
df_well_log_copy.describe().T

,count,mean,std,min,25%,50%,75%,max
SP,19871.0,-7.228040,11.394111,-59.46976,-6.695355,-2.759490,-1.153555,6.67082
GR,19871.0,59.965736,20.159385,9.02010,53.416550,63.734700,71.269200,200.06860
CALI,19871.0,13.987712,2.344219,6.09080,12.595550,14.186400,15.685350,17.83940
BITSIZE,19871.0,10.784045,1.829884,8.50000,8.500000,12.250000,12.250000,12.25000
LL8,19871.0,126.950596,353.376916,2.60470,7.837750,9.620000,21.781150,2204.85229
ILM,19871.0,197.162363,532.839099,1.66660,6.268950,8.097200,17.510700,2168.12036
ILD,19871.0,185.148274,509.976871,1.89760,6.416900,8.286100,19.252450,2309.16040
RHOB,19871.0,2.419445,0.213644,1.44310,2.324500,2.461100,2.549100,3.01570
NPHI,19871.0,26.055947,15.211199,-3.60250,13.265000,31.184000,36.533300,62.69810
DT,19871.0,84.601498,12.349984,57.93940,76.795400,85.839700,93.134650,127.73290
MUDWGT,19871.0,10.549997,0.805724,9.10000,9.600000,10.600000,11.200000,12.10000
V_sh,19871.0,0.266663,0.105520,0.00000,0.232383,0.286391,0.325829,1.00000

##**2.4 Find the pure shale – this is where the GR log peaks. Identify the pure shale properties: GR_sh, RHOB_sh, NPHI_sh.**

$$
\phi_D = \frac{2.65 - RHOB}{2.65 - 1}
$$
$$
\phi_{DC} = \frac{\phi_D - V_{sh} \cdot \phi_{Dsh}} {1 - V_{sh}}
$$
$$
\phi_{Nc} = \frac{\phi_N - C_{sh} \cdot \phi_{Nsh}}  {1 - C_{sh}}
$$
$$
\phi = \sqrt{\frac{\phi_{DC}^2 + \phi_{NC}^2}{2}}
$$

In [ ]:
phi_D = (2.65-df_well_log_copy['RHOB']) / (2.65-1)